*{
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}
body{
    background-color: darkslategrey;
    text-align: center;
    flex-direction: column;
}
p{
    color: white;
    font-size: 40px;
    margin: 100px;
}